.root {
    -fx-background-color: linear-gradient(to bottom right, #1e3c72, #2a5298);
}

.label-title {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-radius: 8;
    -fx-padding: 10;
}

.button {
    -fx-background-color: #00c6ff;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #0072ff;
}